name: Azure Static Web Apps CI/CD - Frontend

on:
  push:
    branches:
      - master
    paths:
      - 'task-manager-frontend/**'
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
          
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          
      - name: Install dependencies
        run: npm ci
        working-directory: ./task-manager-frontend
        
      - name: Build application
        run: npm run build
        working-directory: ./task-manager-frontend
        env:
          REACT_APP_API_URL: https://taskmanager-board-ffcph5e0fecveme4.germanywestcentral-01.azurewebsites.net/api
          CI: false
          
      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/task-manager-frontend/build" 
          api_location: ""
          output_location: "build"
          skip_app_build: true